.skill {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 1rem 0;
}

.skill-title {
  color: aqua;
  margin: 3rem;
}
.skill-container {
  background-color: rgb(160, 216, 227);
  width: 50rem;
  height: 50rem;
  border-radius: 12px;
  color: rgb(53, 3, 3);
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.skill-container p {
  margin: 1.25rem;
  font-family: monospace;
  font-weight: 900;
  font-size: 1rem;
}
button {
  background-color: transparent;
}

p:hover {
  background-color: aquamarine;
}
.hover-container {
  position: relative;
}

.skill-links {
  display: none;
  position: absolute;
  top: -2rem;
  left: 0;
  background-color: #144956;
  padding: 5px;
  border-radius: 10px;
  font-size: 1.5rem;
  gap: 1.5rem;
  padding: 1rem 0.5rem;
  height: 35rem;
  width: 35rem;
  overflow-y: scroll;
}
.skill-links a {
  color: rgb(10, 156, 178);
}

.hover-container:hover .skill-links {
  display: flex;
  flex-direction: column;
}
.animate-character {
  margin: 1rem;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 20px;
}

@media screen and (max-width: 700px) {
  .skill-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 20rem;
    height: 20rem;
  }
}
