.skill {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 1rem 0;
  padding-bottom: 5rem;
}

.skill-title {
  color: aqua;
  margin: 3rem;
}
.hover-title {
  color: rgb(241, 11, 23);
  margin: 1rem;
  text-decoration: underline;
}
.type {
  color: rgb(0, 148, 246);
}
.skill-container {
  width: 100vw;
  border-radius: 12px;
  color: rgb(6, 127, 135);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 13rem;
  align-items: baseline;
  justify-content: center;
}
.skill-container p {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skill-set {
  font-size: 2rem;
}
.live {
  margin: 1rem;
  color: red;
}
button {
  background-color: transparent;
}

.hover-container {
  position: relative;
}
.icon-img {
  width: 6rem;
  margin: 1rem;
}

.skill-links {
  display: none;
  position: absolute;
  top: -2rem;
  left: -13rem;
  background-color: #144956;
  padding: 5px;
  border-radius: 10px;
  font-size: 1.5rem;
  gap: 1.5rem;
  padding: 1rem 0.5rem;
  height: 35rem;
  width: 35rem;
  overflow-y: scroll;
}
.links-container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.hover-container:hover .skill-links {
  display: flex;
  flex-direction: column;
}
.animate-character {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  display: inline-block;
  font-size: 2rem;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
@media screen and (max-width: 1092px) {
  .skill-container {
    width: 100vw;
    height: 100vh;
    border-radius: 12px;
    color: rgb(6, 127, 135);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem 1rem;
    align-items: baseline;
    justify-content: center;
  }
  .icon-img {
    width: 5rem;
  }
  .skill-container p {
    font-size: 1rem;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .skill {
  }
}
