.contact {
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow-y: scroll;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 2rem;
  text-align: center;
}
.card {
  background-color: rgb(33, 94, 102);
  height: 10rem;
  width: 20rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.card:hover {
  background-color: rgb(34, 178, 183);
  transform: scale(1.1);
  box-shadow: 0 0 15px #bbd6d1;
}
a {
  color: rgb(54, 30, 30);
}
a:hover {
  color: rgb(46, 46, 190);
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
input {
  padding: 0.85rem 10rem;
  padding-left: 5px;
  border: 3px solid rgb(18, 188, 207);
  border-radius: 15px;
}
textarea {
  padding: 0.85rem 10rem;
  padding-left: 5px;

  border-radius: 15px;
  border: 3px solid rgb(18, 188, 207);
}
