.contact {
  text-align: center;
  gap: 2rem;
}

.contact-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
  text-align: center;
}
.title-contact {
  font-size: 2rem;
  color: burlywood;
}
.card {
  background-color: rgb(33, 94, 102);
  margin: 1rem;
  height: 8rem;
  width: 17rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card:hover {
  background-color: rgb(34, 178, 183);
  transform: scale(1.1);
  box-shadow: 0 0 15px #bbd6d1;
}
.icon {
  color: rgb(54, 30, 30);
}
.icon:hover {
  color: rgb(21, 204, 224);
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
input {
  padding: 0.85rem 10rem;
  padding-left: 5px;
  border: 3px solid rgb(18, 188, 207);
  border-radius: 15px;
}
textarea {
  padding: 0.85rem 10rem;
  padding-left: 5px;

  border-radius: 15px;
  border: 3px solid rgb(18, 188, 207);
}
.btn-submit {
  margin: 2rem;
  background-color: rgb(18, 188, 207);
  padding: 0.75rem 2rem;
  font-size: larger;
  border-radius: 8px;
}
.btn-submit:hover {
  background-color: rgb(34, 178, 183);
  transform: scale(1.1);
  box-shadow: 0 0 15px #bbd6d1;
}

@media screen and (max-width: 900px) {
  .contact-container {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .title-contact {
    position: relative;
    top: -3rem;
  }
}
