.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.head {
  color: red;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: -5rem;
}
.name {
  text-align: center;
}
.profile {
  max-width: 30%;
}
.profile-name {
  color: #15ddda;
  margin: 3rem;
}

.role {
  margin: 2rem;
}
.btn {
  display: inline-block;
  background-color: #167cc1;
  padding: 10px;
  width: 200px;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  margin: 1rem;
  border-radius: 10px;
}
.button-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-path {
  background-color: rgb(229, 224, 222);
  transition-duration: 0.4s;
  padding: 10px;
  margin: 1rem;
  width: 200px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
}
.scroll__down {
  position: relative;
  right: -20%;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
  color: #167cc1;
}

.contact-path:hover {
  background-color: #20bcb9; /* Green */
  color: white;
}

.btn-section-header {
  position: relative;
  right: 8%;
  display: flex;
  flex-direction: column;

  transform: rotate(-360deg);

  gap: 2rem;
}
@media screen and (max-width: 600px) {
  .home {
    display: flex;
    flex-direction: column;
  }
  .profile {
    max-width: 49%;
  }
  .scroll__down {
    display: none;
  }
  .btn-section-header {
    display: flex;
    flex-direction: row;
    position: relative;
    right: 0;
  }
}
