.footer {
  background: linear-gradient(black, #327aad);

  font-size: 0.9rem;
  margin-top: 3rem;
  padding: 3rem 0;
  text-align: center;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.my-name {
  color: rgba(5, 164, 196, 0.929);
}
.btn-section-footer {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
.linked-icon {
  font-size: 2rem;
}

.instagram-icon {
  font-size: 2rem;
}
.git-icon {
  font-size: 2rem;
}
a:hover {
  color: rgb(0, 251, 255);
}
.icon {
  color: rgb(127, 115, 115);
}
