.title {
  color: rgb(218, 218, 6);
}
.nav-container {
  display: flex;
  justify-content: space-between;
}

.navbar {
  position: fixed;
  right: 0%;
  top: 0;
  transform: translate(100%);
}
.close-btn {
  color: red;
  font-size: 2rem;
  font-weight: 900;
}

.show-navbar {
  transform: translate(0);
}
.nav-list {
  margin: 3rem;
  text-decoration: none;
  color: #14bbd8;
}
.nav-link {
  color: yellow;
}
.nav-link:hover {
  color: red;
}
.navbar-toggle {
  position: fixed;
  background-color: red;
  color: white;
  top: 1%;

  right: 5%;
  background: transparent;
  font-size: 2rem;
}

@media screen and (min-width: 600px) {
  .nav-container {
    display: flex;
    justify-content: space-between;
  }
  .navbar-toggle {
    display: none;
  }

  .close-btn {
    display: none;
  }
  .navbar {
    margin: 0rem;
    background-color: rgba(198, 174, 174, 0.122);
    width: max-content;
    display: block;
    padding: 0.25rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    top: 85%;
    transform: translateX(-50%);
    display: flex;
    gap: 3.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    list-style: none;
  }

  .nav-list {
    margin: 1rem;
    color: green;
  }
  .nav-link {
    color: rgb(6, 222, 215);
    font-size: 2rem;
  }
  .nav-link:hover {
    color: rgb(247, 244, 244);
    background-color: rgb(106, 106, 210);
    transition: 0.3s;

    padding: 0.5rem;
    border-radius: 10px;
  }
}
