.about {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin-right: 3rem;
  overflow-x: hidden;
}
.desc {
  font-size: 20px;

  margin: 3rem 10rem;
}

.about {
  position: relative;
}
.quote-img {
  position: relative;
  height: 15rem;
  width: 15rem;
  border: 2px solid red;
  border-radius: 20px;
  padding: 2rem;
  margin-left: 8rem;
}

.quote-img:hover {
  border: 2px solid rgb(4, 112, 134);
  border-radius: 20px;
}

@media screen and (max-width: 700px) {
  .about {
    display: flex;
    flex-direction: column;
  }
  .desc {
    margin: 3rem;
    font-size: 1rem;
  }
  .quote-img {
    margin: 0;
  }
}
