.about {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 3rem;
  overflow-x: hidden;
}
.desc {
  font-size: 20px;
  word-spacing: 2px;
  color: rgb(12, 208, 204);
  padding: 3rem;
  width: 98vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
}

.about {
  position: relative;
}
.quote-img {
  position: relative;
  height: 15rem;
  width: 15rem;
  border: 2px solid red;
  border-radius: 20px;
  padding: 2rem;
  margin-left: 8rem;
}

.quote-img:hover {
  border: 2px solid rgb(4, 112, 134);
  border-radius: 20px;
}

@media screen and (max-width: 700px) {
  .about {
    display: flex;
    flex-direction: column;
  }
  .desc {
    margin: 3rem;
    font-size: 1rem;
  }
  .quote-img {
    margin: 0;
  }
}
